/* post.css */
.post-list {
  width: 1200px; /* Increase the width to make the posts wider */
  margin: 0 auto;
  padding: 20px;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 7px; /* Increase the padding to expand the width */
  position: relative;
}

.post-details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-number {
  font-size: 14px;
  color: #757575;
  font-weight: bold;
  margin-right: 40px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  text-align: left;
}

.post-date {
  font-size: 14px;
  color: #757575;
}

.user-profile {
  font-size: 14px;
  color: #1976d2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 130px;
}
.write-post-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
